* {
  font-family: inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

html, body, #root {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

input[type=checkbox] {
  width: 1em;
}

.left-0 {
  left: 0;
}

.height-full {
  height: 100%;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-100 {
  opacity: 1;
}

.line-height-1 {
  line-height: 1;
}

.flex-1 {
  flex: 1;
}

.mb1 {
  margin-bottom: 10px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.my5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.line-height-1 {
  line-height: 1;
}

.text-1 {
  font-size: 12px;
}
.text-5 {
  font-size: 30px;
}

.bg-gray {
  background-color: #888;
}

.bg-blue {
  background-color: #0076ae;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.sequence-item {
  height: 40px;
  border: 1px solid #abb;
  margin: 1px;
  border-radius: 1px;
}

.sequence-item-selected {
  background-color: #0076ae;
}

.sequence-item-current {
  opacity: 0.5;
  background-color: #ff4916;
}

.sequence-item-selected.sequence-item-current {
  opacity: 1;
}

.btn-key {
  cursor: pointer;
  background-color: #ddd;
  width: 100%;
  margin: 1px;
  padding: 0;
}

.btn-octave {
  background-color: #bbb;
}

.btn-active {
  background-color: #16b8e0;
}

@media (min-width: 576px) {
  .btn-key {
    width: 50px;
  }

  .keyrow {
    width: 640px; /* TODO: sorta hack, fix */
  }

  .keyrow-0 {
    margin-left: 75px;
  }

  .keyrow-1 {
    margin-left: 50px;
  }

  .keyrow-2 {
    margin-left: 25px;
  }

  .keyrow-3 {
    margin-left: 0px;
  }
}

/*
 * Custom components
 */

.Parallelogram {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 2px;
  transform: skew(16deg);
}
