body {
  font-family: Arimo;
}

.mb1 {
  margin-bottom: 10px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.line-height-1 {
  line-height: 1;
}

.text-1 {
  font-size: 12px;
}
.text-5 {
  font-size: 30px;
}

.bg-gray {
  background-color: #888;
}

.bg-blue {
  background-color: #0076ae;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.sequence-item {
  border: 1px solid #ddd;
  color: #bbb;
}

.sequence-item-active {
  background-color: #5bc0de;
  color: #fff;
}

.btn-key {
  background-color: #ddd;
  width: 100%;
  margin: 1px;
  padding: 0;
}

.btn-octave {
  background-color: #bbb;
}

.btn-active {
  background-color: #16b8e0;
}

@media (min-width: 576px) {
  .btn-key {
    width: 50px;
  }

  .keyrow {
    width: 640px; /* TODO: sorta hack, fix */
  }

  .keyrow-0 {
    margin-left: 75px;
  }

  .keyrow-1 {
    margin-left: 50px;
  }

  .keyrow-2 {
    margin-left: 25px;
  }

  .keyrow-3 {
    margin-left: 0px;
  }
}
